/* .maincontainer {
  padding: 3%;
} */
.subcontainer {
  padding: 3%;
}
.header {
  height: 30px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid lavender;
  font-family: emoji;
}
.headingcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 3%; */
}
.mainsubcontainer {
  display: flex;
  gap: 10%;
}
.blogtitle {
  font-size: 6rem;
  color: darkblue;
}
.paragraph {
  font-size: 1.2rem;
}
.imagecontainer {
  /* margin-left: 2%; */
}
.link {
  text-decoration: none;
  font-size: 2rem;
}
.link:hover {
  text-decoration: underline;
}
.contentcontainer {
  /* padding: 3%; */
}
.firstcontent {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 10%;
  margin-top: 9%;
}
.firstprofilecontainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.imageProfile {
  border-radius: 50%;
}
.bodycontainer {
  /* padding: 3%; */
}
.profilecontainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.firstlink {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  transition: 1s linear;
}
.firstlink:hover {
  text-decoration: underline;
  color: black;
  font-size: 3rem;
}
.para {
  font-size: 18px;
}
.morestoriestitle {
  font-size: 4rem;
}
.secondlink {
  text-decoration: none;
  font-size: 2rem;
}
.secondlink:hover {
  text-decoration: underline;
  color: black;
}
.linkanddate {
  margin-top: 8%;
}
.footer {
  height: 34vh;
  background-color: aliceblue;
  border-top: 1px solid lavender;
  display: flex;
  align-items: center;
  padding: 3%;
  justify-content: space-between;
}
.buttons {
  background-color: black;
  color: white;
  padding: 7% 15% 7% 15%;
}
.buttons:hover {
  background-color: white;
  color: black;
  border: none;
}
.buttoncontainer {
  display: flex;
  gap: 10%;
  justify-content: end;
}
